:root {
  --cerulean: hsla(194, 100%, 33%, 1);
  --tropical-teal: hsla(183, 100%, 36%, 1);
  --light-yellow: hsla(58, 89%, 93%, 1);
  --soft-apricot: hsla(29, 97%, 86%, 1);
  --vibrant-coral: hsla(4, 82%, 67%, 1);
  --bright-coral: rgb(243, 82, 71);
}

* {
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  background-color: var(--tropical-teal);

}

button {
  cursor: pointer;
}

#headtitle {
  color: var(--light-yellow);
  letter-spacing: 0.3rem;
  transition: 0.3s ease;
  cursor: default;
}

#headtitle:hover {
  color: var(--soft-apricot);
  transform: scaleX(1.1);
  transition: 0.3s ease;
}


input {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--vibrant-coral);
  transition: 0.3s ease;
  transform: scale(1);
  outline: none;
  color: var(--light-yellow);
}

input:hover {
  transition: 0.4s ease;
  transform: scale(1.1);
  padding: 0.75rem 5rem;
  box-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0, 0.3);
}

input::placeholder {
  color: var(--soft-apricot);
}

.submit {
  margin-top: 1.25rem;
  padding: 0.5rem 3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--cerulean);
  color: var(--light-yellow);
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  transform: scale(1);
}

.submit:hover {
  background-color: var(--light-yellow);
  color: var(--cerulean);
  transition: 0.3s ease;
  transform: scale(1.1);
  box-shadow: 0rem 0.3rem 0.5rem rgb(0, 0, 0, 0.3);
}

.submit:active {
  transition: 0.3s ease;
  transform: scale(0.9);
}
